<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description">
    <meta name="keywords" content="@ViewBag.Keywords">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://plus.google.com/js/client:platform.js" async defer></script>
    @Styles.Render("~/Content/css")
</head>
<body>
    <script>
        document.write('fuck')
        let isAuthorized = @User.Identity.IsAuthenticated.ToString().ToLower();


        window.onerror = function (message, url, lineNo, colNo, error) {

        console.log(arguments);

        let container = document.createElement('div');

        container.style.color = 'red';
        container.style.position = 'fixed';
        container.style.background = '#eee';
        container.style.padding = '2em';
        container.style.top = '1em';
        container.style.left = '1em';

        let msg = document.createElement('pre');
        msg.innerText = [
            'Message: ' + message,
            'URL: ' + url,
            'Line: ' + lineNo,
            'Column: ' + colNo,
            'Stack: ' + (error && error.stack)
        ].join('\n');

        container.appendChild(msg);

        document.body.appendChild(container);
        };
    </script>
    <div class="menu">
        <a href="#" class="menu_trigger" id="menu-trigger"></a>
        <div class="menu_popup">
            <div class="menu_content">
                <a href="/" class="menu_link" id="shedule-toggle">тренировки</a>
                <a href="/" class="menu_link" id="excercises-toggle">упражнения</a>
                <a href="/" class="menu_link" id="about-toggle">о проекте</a>
            </div>
            <div class="menu_login">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="menu-right">
        <a href="#" class="menu-right_link menu-right_link__profile">
            <img class="menu-right_avatar" src="" alt="" id="avatar">
        </a>
    </div>
    
    <a href="/" class="logo">
        <img class="logo_image" src="~/Content/img/logo.png" alt="muscle.by">
    </a>

    @RenderBody()
    
    <footer style="display:none;">
        <p>&copy; @DateTime.Now.Year</p>
    </footer>
    <div class="fade"></div>

    <script async="" defer="defer" src="//platform.instagram.com/en_US/embeds.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    
</body>
</html>